# --- ОС / IDE ---
.idea/
.vscode/
*.user
.DS_Store

# --- .NET (артефакты сборки в репозиторий не попадают) ---
**/bin/
**/obj/

# --- Node ---
**/node_modules/
frontend/dist/

# --- Секреты и локальная конфигурация (фактор 3) ---
# в репозиторий попадает только шаблон .env.example
.env
.env.*
!.env.example

# в репозиторий попадает только шаблон k8s/00-secret.example.yaml
k8s/00-secret.yaml

# --- Логи ---
*.log
logs/
